<h2>Choose a Flight</h2>
<div class="alert alert-danger" role="alert" *ngIf="flightForm.errors && flightForm.errors.invalidTrip">
    Origin and Destination airports cannot be the same.
</div>
<form [formGroup]="flightForm" (ngSubmit)="onFlightSubmit()">
    <div class="form-group">
      <label for="originCode">Flying from</label>
      <select formControlName="originCode" class="form-control" >
          <option [ngValue]="null" disabled>Choose an airport</option>
          <option *ngFor="let airport of airports" [ngValue]="airport.airportCode">
          {{ airport.airportCode + " - " + airport.airportName }}
          </option>
      </select>
      <div *ngIf="flightForm.get('originCode').errors && flightForm.get('originCode').errors.required
      && flightForm.get('originCode').dirty" class="invalid-feedback d-block">
        Tell us where you're flying from
      </div>
    </div>
    <div class="form-group">
      <label for="destinationCode">Destination</label>
      <select formControlName="destinationCode" class="form-control" >
          <option [ngValue]="null" disabled>Choose an airport</option>
          <option *ngFor="let airport of airports" [ngValue]="airport.airportCode">
            {{ airport.airportCode + " - " + airport.airportName }}
          </option>
      </select>
      <div *ngIf="flightForm.get('destinationCode').errors && flightForm.get('destinationCode').errors.required
      && flightForm.get('destinationCode').dirty" class="invalid-feedback d-block">
        Tell us where you're flying to
      </div>
    </div>
    <div class="form-group">
        <label for="departureDate">Departure Date</label>
        <input type="text" formControlName="departureDate" class="form-control" placeholder="yyyy-mm-dd"
        ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"/>
        <div *ngIf="flightForm.get('departureDate').dirty && flightForm.get('departureDate').errors &&
        (flightForm.get('departureDate').errors.required || flightForm.get('departureDate').errors.invalidDate)"
        class="invalid-feedback d-block">
          Enter a valid departure date
        </div>

    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Search
        </button>
    </div>
</form>
<div *ngIf="flights && flights.length > 0" class="mb-5">
  <h5>
    {{ flights[0].sourceAirport.airportName }} -> {{ flights[0].destinationAirport.airportName}}
  </h5>
  <div class="card" *ngFor="let flight of flights">
    <div class="card-body">
      <div class="card-block">
        <div class="card-title">
          Flight {{ flight.flightId }}
        </div>
        <div class="card-text h5">
          {{ flight.departureTime }}-{{ flight.arrivalTime }} UTC
        </div>
        <div class="card-text">
          <p class="font-weight-bold d-inline h3">
            ${{ flight.cost }}
          </p>
          <button (click)="selectFlight(flight.flightId)" class="btn btn-m btn-primary float-right">
            Select
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="flights && flights.length <= 0" class="mt-3 mb-5 warn">
  <h5>
    No flights found.
  </h5>
</div>
