<h2>Tickets</h2>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
<div *ngIf="loading; then Spinner else Tickets"></div>
<ng-template #Tickets>
  <table class="table table-striped">
    <thead class="thead-dark">
      <th>#</th>
      <th>Departure</th>
      <th>Source Airport</th>
      <th>Destination Airport</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets; index as i">
        <td class="align-middle">
          {{ i+1 }}
        </td>
        <td class="align-middle">
          {{ ticket.flight.departureDate }}
          {{ ticket.flight.departureTime }}
        </td>
        <td class="align-middle">
          {{ ticket.flight.sourceAirport.airportName }}
        </td>
        <td class="align-middle">
          {{ ticket.flight.destinationAirport.airportName }}
        </td>
        <td class="align-middle">
          <button
            class="btn btn-primary"
            (click)="open(cancelModal, ticket.ticketId)"
          >
            Cancel Reservation
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="ticketsCount"
    [boundaryLinks]="true"
    (pageChange)="changePage()"
  ></ngb-pagination>
</ng-template>
<ng-template #Spinner>
  <app-spinner [loading]="loading"></app-spinner>
</ng-template>

<ng-template #cancelModal let-c="close" let-d="dismiss">
  <div class="ds-c-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="d()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span
          >Are you sure you want to cancel reservation for ticket #{{
            selectedTicket
          }}?</span
        >
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="c()"
        >
          Back
        </button>
        <app-button [loading]="cancelLoading" [buttonText]="'Cancel Reservation'"></app-button>
      </div>
    </div>
  </div>
</ng-template>

