<div *ngIf="flight">
  <div class="card">
    <div class="card-body">
      <div class="card-block">
        <h5 class="card-title"> Flight #{{ flight.flightId }}</h5>
        <div class="card-text">
          {{ flight.departureDate }} {{ flight.departureTime }}-{{ flight.arrivalTime }} UTC
        </div>
        <div class="card-text">
          <p class="font-weight-bold d-inline h5">
            ${{ flight.cost }}
          </p>
          <button
          *ngIf="!purchaseMode"
          (click)="selectFlight(flight.flightId)"
          class="btn btn-m btn-primary float-right">
            Select
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-spinner [loading]="!flight"></app-spinner>
