<div *ngIf="flight">
  <div class="card">
    <div class="card-body">
      <div class="card-block">
        <h5 class="card-title"> {{ flight.source }} - {{ flight.destination}}</h5>
        <div class="card-text">
          Flight {{ flight.flightId }}
        </div>
        <div class="card-text">
          {{ flight.date }} {{ flight.time }} UTC
        </div>
        <div class="card-text">
          total: ${{ flight.cost }}
        </div>
        <div class="card-text">
          
        </div>
      </div>
    </div>
  </div>
</div>
<form novalidate (ngSubmit)="pay()" [formGroup]="stripeForm">
  <input type="text" formControlName="name" placeholder="Jane Doe">
  <span *ngIf="stripeForm.controls.name.invalid && stripeForm.get('name').touched"
    class="alert alert-danger">  
    <span *ngIf="stripeForm.controls.name.errors.required">
      This Field is Required.
    </span>
  </span>
    
  <div id="card-element" class="field"></div>
  <button class="btn btn-primary" type="submit">
    PAY
  </button>
  </form>
<div id="result" *ngIf="result">{{ result }}</div>
<!-- <div><button (click)="clickCancel()">CANCEL TICKET TEST</button></div> -->