<h2>Register</h2>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>As Customer</a>
      <ng-template ngbNavContent>
        <form [formGroup]="registerCustomerForm" (ngSubmit)="onCustomerSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': rcfSubmitted && rcf.name.errors }" />
                <div *ngIf="rcfSubmitted && rcf.name.errors" class="invalid-feedback">
                    <div *ngIf="rcf.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': rcfSubmitted && rcf.address.errors }" />
                <div *ngIf="rcfSubmitted && rcf.address.errors" class="invalid-feedback">
                    <div *ngIf="rcf.address.errors.required">Address is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': rcfSubmitted && rcf.phone.errors }" />
                <div *ngIf="rcfSubmitted && rcf.phone.errors" class="invalid-feedback">
                    <div *ngIf="rcf.phone.errors.required">Phone is required</div>
                    <div *ngIf="rcf.phone.errors.pattern">Phone is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': rcfSubmitted && rcf.email.errors }" />
                <div *ngIf="rcfSubmitted && rcf.email.errors" class="invalid-feedback">
                    <div *ngIf="rcf.email.errors.required">Email is required</div>
                    <div *ngIf="rcf.email.errors.email">Email is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': rcfSubmitted && rcf.password.errors }" />
                <div *ngIf="rcfSubmitted && rcf.password.errors" class="invalid-feedback">
                    <div *ngIf="rcf.password.errors.required">Password is required</div>
                    <div *ngIf="rcf.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="/login" class="btn btn-link">Cancel</a>
            </div>
        </form>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>As Agent</a>
      <ng-template ngbNavContent>
        <form [formGroup]="registerAgentForm" (ngSubmit)="onAgentSubmit()">
            <div class="form-group">
                <label for="agencyId">Agency</label>
                <select formControlName="agencyId" class="form-control" [ngClass]="{ 'is-invalid': rafSubmitted && raf.agencyId.errors }" >
                    <option [ngValue]="null" disabled>Choose your agency</option>
                    <option *ngFor="let agency of agencies" [ngValue]="agency.id">
                     {{ agency.name }}
                    </option>
                </select> 
                <div *ngIf="rafSubmitted && raf.agencyId.errors" class="invalid-feedback d-block">
                    <div *ngIf="raf.agencyId.errors.required">Agency is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': rafSubmitted && raf.email.errors }" />
                <div *ngIf="rafSubmitted && raf.email.errors" class="invalid-feedback">
                    <div *ngIf="raf.email.errors.required">Email is required</div>
                    <div *ngIf="raf.email.errors.email">Email is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': rafSubmitted && raf.password.errors }" />
                <div *ngIf="rafSubmitted && raf.password.errors" class="invalid-feedback">
                    <div *ngIf="raf.password.errors.required">Password is required</div>
                    <div *ngIf="raf.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="/login" class="btn btn-link">Cancel</a>
            </div>
        </form>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>