<h1 class="mt-4 mb-3">Customer</h1>
<div *ngIf="customer">
  <div class="card mb-4">
    <div class="card-body">
      <div class="card-block">
        <button class="btn btn-outline-success mb-2" (click)="openEditModal(editCustomerModal)">
          Edit
        </button>
        <h5 class="card-title">{{ customer.customerName }}</h5>
        <div class="card-text">
          {{ customer.customerAddress }}
        </div>
        <div class="card-text">
          {{ customer.customerPhone }}
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mb-4" (click)="bookFlight()">
    Book Flight
  </button>
  <h2>Tickets</h2>
  <div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <th>Id</th>
        <th>Departure</th>
        <th>Source Airport</th>
        <th>Destination Airport</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td class="align-middle">
            {{ ticket.ticketId }}
          </td>
          <td class="align-middle">
            {{ ticket.flight.departureDate }}
            {{ ticket.flight.departureTime }}
          </td>
          <td class="align-middle">
            {{ ticket.flight.sourceAirport.airportName }}
          </td>
          <td class="align-middle">
            {{ ticket.flight.destinationAirport.airportName }}
          </td>
          <td class="align-middle">
            <button
              class="btn btn-primary"
              (click)="open(cancelModal, ticket.ticketId)"
            >
              Cancel Reservation
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="ticketsCount"
      [boundaryLinks]="true"
      (pageChange)="changePage($event)"
    ></ngb-pagination>
  </div>
</div>

<ng-template #editCustomerModal let-c="close" let-d="dismiss">
  <div class="ds-c-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editCustomerForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
              formControlName="name"
              id="name"
              placeholder="John Doe"
              class="form-control"/>
              <div *ngIf="name().touched && name().errors">
                <div *ngIf="name().errors.required" class="invalid-feedback d-block">
                  Name is required
                </div>
                <div *ngIf="name().errors.minlength || name().errors.maxlength" class="invalid-feedback d-block">
                  Name should be between 3 and 45 characters long
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text"
              formControlName="address"
              id="address"
              placeholder="5037 Diam Rd. Daly City Ohio 90255"
              class="form-control"/>
              <div *ngIf="address().touched && address().errors">
                <div *ngIf="address().errors.required" class="invalid-feedback d-block">
                  Address is required
                </div>
                <div *ngIf="address().errors.minlength || address().errors.maxlength" class="invalid-feedback d-block">
                  Address should be between 15 and 50 characters long
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="text"
              formControlName="phoneNumber"
              id="phoneNumber"
              placeholder="(123) 456-7890"
              class="form-control"/>
              <div *ngIf="phoneNumber().touched && phoneNumber().errors">
                <div *ngIf="phoneNumber().errors.required" class="invalid-feedback d-block">
                  Phone number is required
                </div>
                <div *ngIf="phoneNumber().errors.pattern" class="invalid-feedback d-block">
                  Phone number should be of the form (XXX) XXX-XXXX
                </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c()">Cancel</button>
        <button type="button"
        class="btn btn-primary"
        [disabled]="editCustomerForm.invalid"
        (click)="onSubmitModal()">Confirm</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cancelModal let-c="close" let-d="dismiss">
  <div class="ds-c-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="d()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span
          >Are you sure you want to cancel reservation for ticket #{{
            selectedTicket
          }}?</span
        >
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="c()"
        >
          Back
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="cancelReservation()"
        >
          Cancel Reservation
        </button>
      </div>
    </div>
  </div>
</ng-template>
