<h1>Customer</h1>
<div *ngIf="customer">
  <div class="card">
    <div class="card-body">
      <div class="card-block">
        <h5 class="card-title">{{ customer.name }}</h5>
        <div class="card-text">
          {{ customer.address }}
        </div>
        <div class="card-text">
          {{ customer.phone }}
        </div>
      </div>
    </div>
  </div>
  <h2>Tickets</h2>
  <div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <th>Id</th>
        <th>Departure</th>
        <th>Source Airport</th>
        <th>Destination Airport</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td class="align-middle">{{ ticket.id }}</td>
          <td class="align-middle">
            {{ ticket.flight.departureDate.day }}/{{
              ticket.flight.departureDate.month
            }}/{{ ticket.flight.departureDate.year }}
            {{ ("0" + ticket.flight.departureTime.hour).slice(-2) }}:{{
              ("0" + ticket.flight.departureTime.minute).slice(-2)
            }}
          </td>
          <td class="align-middle">{{ ticket.flight.sourceAirport.name }}</td>
          <td class="align-middle">
            {{ ticket.flight.destinationAirport.name }}
          </td>
          <td class="align-middle">
            <button class="btn btn-primary" (click)="open(cancelModal, ticket.id)">
              Cancel Reservation
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="ticketsCount"
      [boundaryLinks]="true"
      (pageChange)="changePage($event)"
    ></ngb-pagination>
    <ng-template #cancelModal let-c="close" let-d="dismiss">
      <div class="ds-c-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="d()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span
              >Are you sure you want to cancel reservation for ticket #
              {{ selectedTicket }}?</span
            >
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="c()"
            >
              Back
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="cancelReservation()"
            >
              Cancel Reservation
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
